<div ng-controller="CadastroCtrl" class="panel panel-default">
	<div class="panel-heading"><h2 class="panel-title">Cadastro</h2></div>
	<div class="panel-body">
		<div class="form-group">
			<label for="cpf">CPF</label>
			<input name="cpf" type="number" class="form-control" ng-model="pessoa.cpf">
		</div>
		<div class="form-group">
			<label for="nome">Nome</label>
			<input name="nome" type="text" class="form-control" ng-model="pessoa.nome">
		</div>
		<div class="form-group">
			<label for="altura">Altura</label>
			<input name="altura" type="number" class="form-control" ng-model="pessoa.altura">
		</div>
		<div class="form-group">
			<label for="sexo">Sexo</label>
			<div class="radio">
				<label class="radio-inline">
					<input name="sexo" type="radio" value="M" ng-model="pessoa.sexo"> 
					Masculino
				</label>
				<label class="radio-inline">
					<input name="sexo" type="radio" value="F" ng-model="pessoa.sexo"> 
					Feminino
				</label>
			</div>
		</div>
		<button class="btn btn-primary" ng-click="cadastre(pessoa)">Cadastrar</button>
	</div>
	<div class="panel-footer">
		<button class="btn btn-default" ng-click="gere()" ng-disabled="gerando">{{gerando ? "Gerando..." : "Gerar Pessoas"}}</button>
	</div>
</div>
