<div class="row">
	<div class="col-sm-6">
		<div ng-controller="EstatisticasCtrl" class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title">Estat&iacute;sticas</h2>
			</div>
			<div class="panel-body">
				<p><h3>Pessoas</h3>{{estatisticas.qtdPessoas}}</p>
				<p><h3>Desejadas</h3>{{estatisticas.qtdPesquisadas}}</p>
				<button class="btn btn-primary" ng-click="atualize()">Atualizar</button>
			</div>
			<div class="panel-footer">
				<button class="btn btn-default" ng-click="apaguePesquisas()">Apagar Pesquisas</button>
				<button class="btn btn-default" ng-click="apaguePessoas()">Apagar Pessoas</button>
			</div>
		</div>
	</div>
	<div class="col-sm-6">
		<div ng-controller="MaisDesejadosCtrl" class="panel panel-default">
			<div class="panel-heading">
				<h2 class="panel-title form-inline">
					Top
					<input type="number" ng-model="numeroDesejadas" ng-change="atualize(numeroDesejadas)" class="form-control">
					mais desejadas
				</h2>
			</div>
			<div class="panel-body scroll-panel">
				<table class="table">
					<thead>
						<tr>
							<th>CPF</th>
							<th>Nome</th>
							<th>Altura</th>
							<th>Sexo</th>
							<th>Desejos</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="pessoaDesejada in pessoasDesejadas">
							<td>
								{{pessoaDesejada.pessoa.cpf}}
							</td>
							<td>
								{{pessoaDesejada.pessoa.nome}}
							</td>
							<td>
								{{pessoaDesejada.pessoa.altura}}
							</td>
							<td>
								{{pessoaDesejada.pessoa.sexo}}
							</td>
							<td>
								{{pessoaDesejada.numeroDesejos}}
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="panel-footer"><button class="btn btn-primary" ng-click="atualize(numeroDesejadas)">Atualizar</button></div>
		</div>
	</div>
</div>