<div ng-controller="ParametrosCtrl" class="panel panel-default">
	<h2 class="panel-heading">Par&acirc;metros</h2>
	<div class="panel-body">
		<p><h3>M&aacute;ximo de Pessoas</h3>{{informacoes.maximoPessoas}}</p>
		<p><h3>Altura M&aacute;xima</h3>{{informacoes.alturaMaxima}}</p>
		<p><h3>Altura M&iacute;nima</h3>{{informacoes.alturaMinima}}</p>
		<p><h3>M&aacute;ximo de Pessoas a Gerar</h3>{{informacoes.maximoPessoasGeradas}}</p>
		<p><h3>M&aacute;ximo de Pessoas Mais Desejadas</h3>{{informacoes.maximoPesquisaPesoasDesejadas}}</p>
		<p><h3>Desenvolvedor</h3>{{informacoes.nomeDesenvolvedor}}</p>
	</div>
</div>
